:root {
  --spacer: 1rem;
}
svg {
  height: var(--spacer);
  width: var(--spacer);
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
input[type="date"] {
  padding: var(--spacer);
  border-radius: 0.6rem;
  border: transparent;
}
.grow {
  flex-grow: 1;
}
.p-1 {
  padding: var(--spacer);
}
.py-1 {
  padding: var(--spacer) 0;
}
th,
td {
  text-align: center;
  padding: var(--spacer) 0;
}
tr {
  border-bottom: 1px solid;
}
table {
  border-collapse: collapse;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.px-1 {
  padding-right: var(--spacer) * 0.25;
  padding-left: var(--spacer) * 0.25;
}
.px-2 {
  padding-right: var(--spacer) * 0.5;
  padding-left: var(--spacer) * 0.5;
}
.px-3 {
  padding-right: var(--spacer) * 0.75;
  padding-left: var(--spacer) * 0.75;
}
.px-4 {
  padding-right: var(--spacer);
  padding-left: var(--spacer);
}
.px-5 {
  padding-right: var(--spacer) * 1.25;
  padding-left: var(--spacer) * 1.25;
}
.gap-1 {
  gap: var(--spacer) * 0.75;
}
.gap-2 {
  gap: var(--spacer);
}
.gap-3 {
  gap: var(--spacer) * 1.25;
}
.gap-4 {
  gap: var(--spacer) * 1.5;
}
.gap-5 {
  gap: var(--spacer) * 1.75;
}
